:root {
  --main-color-green: #179b11;
  --main-color-gray: #1c2321;
}

body {
  font-family: Alegreya Sans, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  overflow: hidden; /* Prevent scroll on html */
}

body, html {
  height: 100%;
}

.scroll-container {
  overflow-y: auto;
  height: 100%;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/********************* HEADER/ NAV BAR / 1ST PART *******************/

header {
  background-image: url('about.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 600px;
  padding-top: 20px;
  color: white;
  position: relative;
}

.header-content {
  position: absolute;
  width: 50%;
  max-width: 1000px;
  line-height: 1;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.header-content h1 {
  font-size: 3rem;
  margin: 0;
}

.header-content p {
  font-size: 1.5rem;
  margin: 10px 0 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  background-color: var(--main-color-gray);
  border-radius: 50px;
  margin: 20px 48px 0 48px;
  height: 95px;
}

.left-container,
.logo-container,
.nav-links,
.hamburger {
  display: flex;
  align-items: center;
}

.logo-container img {
  padding-left: 20px;
  height: 75px;
}

.school-names h1,
.school-names h2 {
  white-space: nowrap;
  line-height: 0.3;
  padding-left: 10px;
}

.school-names h1 {
  color: var(--main-color-green);
  font-size: 25px;
}

.school-names h2 {
  color: white;
  font-size: 15px;
}

.nav-links {
  list-style-type: none;
  margin-right: 50px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.nav-links li {
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links li:hover,
.nav-links li.active {
  color: var(--main-color-green);
}

li.active:hover{
  color: white;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  display: none;
  cursor: pointer;
  padding-right: 20px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  nav {
    margin: 20px;
    border-radius: 50px;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .school-names h1 {
    font-size: 16px;
  }

  .school-names h2 {
    font-size: 11px;
  }

  .logo-container img {
    height: 80px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: var(--main-color-gray);
    top: 100px;
    left: 0;
    border-radius: 0 0 50px 50px;
    z-index: 3;
  }

  .nav-links.active {
    display: flex;
  }

  .header-content {
    width: 90%;
    line-height: 1.2;
    font-size: 1.2rem;
  }

  .header-content h1 {
    font-size: 2rem;
  }

  .header-content p {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .school-names h1 {
    font-size: 25px;
  }

  .school-names h2 {
    font-size: 15px;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    background-color: var(--main-color-gray);
    right: 0;
    top: 100px;
    z-index: 3;
  }

  .nav-links.active {
    display: flex
  }

  .header-content {
    width: 85%;
    line-height: 1.3;
    font-size: 1.5rem;
  }

  .header-content h1 {
    font-size: 2.5rem
  }

  .header-content p {
    font-size: 1.25rem
  }
}

/*********************************** IDENTITY *********************************/
.Identity {
  margin: 10px 55px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.Identity h1 {
  font-size: 90px;
  text-shadow: 3px 3px 5px #1c2321;
}

.Identity p {
  text-align: right;
  margin: 0;
  font-size: 18px;
  padding-left: 20px; 
  margin-left: 130px;
}

/* RESPONSIVE DESIGN FOR IDENTITY*/
@media (max-width: 768px) {
  .Identity {
    margin: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .Identity h1 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .Identity p {
    text-align: left;
    margin: 0;
    padding-left: 0;
    margin-left: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .Identity {
    margin: 10px 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .Identity h1 {
    font-size: 60px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .Identity p {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
  }

}

/********************************* IMAGE GALLERY ******************************/

.image-gallery {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  margin-bottom: 200px;

}

.image-gallery img {
  max-height: 300px;
  flex-shrink: 0;
  border-radius: 10px;
}

/*RESPONSIVE DESIGN FOR IMAGE GALLERY */
@media (max-width: 768px) {
  .image-gallery img {
    max-height: 150px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .image-gallery img {
    max-height: 175px;
  }
}

/********************************* INSTITUTION SECTION ******************************/
.institution-section {
  padding: 100px 20px;
  background-color: var(--main-color-gray);
  color: white;
}

.institution-text {
  margin-left: 50px;
  margin-bottom: 20px;
  line-height: 3px;
}

.institution-subtitle {
  font-size: 3rem;
  color: var(--main-color-green);
}

.institution-title {
  font-size: 6rem;
  margin-bottom: 20px;
}

.institution-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin-top: 120px;
  margin-left: 50px;
}

.email-input {
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  flex: 1;
}

.submit-button {
  margin-left: 30px;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: var(--main-color-green);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.highlight {
  color: rgba(251, 175, 0, 1);  
}

/*responsive design for form*/
@media (max-width: 768px) {
  .institution-title {
    font-size: 3rem;
  }

  .institution-subtitle {
    font-size: 2rem;
  }

  .email-input {
    width: calc(100% - 120px); 
  }

  .submit-button {
    width: 100%;
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .institution-title {
    font-size: 3.5rem;
  }

  .institution-subtitle {
    font-size: 2.5rem;
  }

  .email-input {
    flex: 1;
  }

  .submit-button {
    font-size: 0.95rem;
    padding: 9px 18px;
  }
}


/********************* FOOTER *******************************/
footer {
  background-color: #179b11;
  padding: 100px;
}

