

.admin-content {
  position: relative;
  text-align: left;
  font-size: 25px;
  z-index: 2;
  margin-top: 200px;
  margin-left: 100px;
  width: 50%;
}


.admin-content p, .admin-content h1 {
  margin: 10;
}

@media only screen and (max-width: 786px) {
  .admin-header {
    min-height: 500px;
  }

  .admin-content {
    position: relative;
    text-align: center;
    font-size: 30px;
    z-index: 2;
    margin-top: 0px;
    width: 80%;
    margin-left: auto; 
    margin-right: auto; 
  }

  .admin-content p {
    margin-top: 100px;
    font-size: 15px;
  }

  .admin-content h1 {
    font-size: 20px;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .admin-content {
      position: relative;
      text-align: center;
      font-size: 40px;
      z-index: 2;
      margin-top: 0px;
      width: 80%;
      margin-left: auto; 
      margin-right: auto; 
    }
  
    .admin-content p {
      margin-top: 100px;
      font-size: 20px;
    }
  
    .admin-content h1 {
      font-size: 30px;
    }
  
  }
}



.admissions-banner {
background-color: #fbaf00;
display: flex;
gap: 50px;
font-size: 30px;
color: #000;
font-weight: 700;
text-align: right;
text-transform: uppercase;
padding: 0px;
}



@media (max-width: 991px) {
.admissions-banner {
flex-wrap: wrap;
padding: 0px;
}
}

.admissions-text {
font-family: Alegreya Sans, sans-serif;
flex-grow: 1;
}

@media (max-width: 991px) {
.admissions-text {
max-width: 100%;
}
}

.admissions-divider {
border: 10px solid rgba(28, 35, 33, 1);
background-color: #1c2321;
width: 666px;
max-width: 100%;
height: 10px;
margin: auto 0;
}

.enroll-section {
background-color: #f6f6f6;
display: flex;
flex-direction: column;
}

.enroll-container {
align-self: center;
margin-top: 92px;
margin-left: 50px;
margin-right: 50px;
width: 90%;
padding: 0;
}



@media (max-width: 991px) {
.enroll-content {
  flex-direction: column;
  gap: 0;
}
}

.enroll-title {
display: flex;
flex-direction: column;
line-height: normal;
width: 40%;

}

@media (max-width: 991px) {
.enroll-title {
  width: 90%;
}
}

.enroll-heading {
color: #000;
text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
text-transform: uppercase;
font: 700 70px/78px Alegreya Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
.enroll-heading {
  margin-top: 40px;
  font-size: 40px;
  line-height: 50px;
}
}

.enroll-description {
display: flex;
flex-direction: column;
line-height: normal;
width: 60%;
margin-left: auto; 
margin-top: -200px;
margin-bottom: 100px;
text-align: right;
}

@media (max-width: 991px) {
.enroll-description {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
}

.enroll-text {
color: #1c2321;
text-align: justify;
font: 400 25px Alegreya Sans, sans-serif;
margin-top: 0px;
margin-right: 20px;
}

@media (max-width: 991px) {
.enroll-text {
  max-width: 100%;
  margin-top: 40px;
}
}

.enroll-image {
border-radius: 30px;
background-color: #d7d7d7;
align-self: center;
margin-top: 40px;
width:83%;
height: 500px;
background-position: center;
background-size: 100%;
background-size: cover;
}


@media (max-width: 991px) {
  .enroll-image{
  width:95%;
  height: 200px;
  margin-left: 50px;
  margin-right: 50px;
}
}



.about-section {
align-self: center;
margin-top: 65px;
width: 100%;
max-width: 1239px;
padding: 0;
}

@media (max-width: 991px) {
.about-section {
  max-width: 100%;
  margin-top: 40px;
}
}

.about-content {
display: flex;
gap: 20px;
}

@media (max-width: 991px) {
.about-content {
  flex-direction: column;
  align-items: stretch;
  gap: 0;
}
}

.about-description {
display: flex;
flex-direction: column;
line-height: normal;
width: 80%;
margin-left: 0;
}

@media (max-width: 991px) {
.about-description {
  width: 100%;
}
}

.about-text {
color: #000;
text-align: justify;
font: 400 20px Alegreya Sans, sans-serif;
margin-right: 50px;
}

 

@media (max-width: 991px) {
.about-text {
  max-width: 100%;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 20px;
}
}


.inquiry-form {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 100%;
  margin-bottom: 100px;
}

.form-container {
  border-radius: 30px;
  background-color: #1c2321;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #b4b4b4;
  font-weight: 400;
  padding: 40px;
}

.form-heading {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font: 700 40px Alegreya Sans, sans-serif;
}

.form-divider {
  border-color: rgba(246, 246, 246, 1);
  border-style: solid;
  border-width: 2px;
  background-color: #f6f6f6;
  margin-top: 10px;
  margin-bottom: 25px;
  height: 2px;
}

.form-input {
  font-family: Alegreya Sans, sans-serif;
  border-radius: 66.5px;
  background-color: var(--White, #eef1ef);
  margin-top: 20px;
  padding: 17px 20px;
  font-size: 16px;
}

.form-button {
  border-radius: 50px;
  background-color: #179b11;
  align-self: start;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  padding: 15px 30px;
  font: 700 20px Alegreya Sans, sans-serif;
}

@media (max-width: 991px) {
  .form-container {
    padding: 20px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .form-heading {
    font-size: 30px;
  }

  .form-input {
    font-size: 14px;
  }

  .form-button {
    padding: 12px 24px;
    font-size: 18px;
  }
}

