@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');


/* ROOT VARIABLES */
:root {
  --main-color-green: #179b11;
  --main-color-green-dark:  #28582a;
  --main-color-gray: #1c2321;
  --main-color-yellow: #FBAF00;
}

/************* ANIMATION *************************/
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1.5s ease-out, transform 1s ease-out;
}

.slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}


/******************** BODY STYLES ********************************************/
body {
  font-family: Alegreya Sans, sans-serif;
  margin: 0;
  padding: 0;

}


body, html {
  height: 100%;
}




/********************* HEADER/ NAV BAR / 1ST PART *******************/
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999; 
}


nav {
  position: relative;
  background-color: var(--main-color-gray);
  border-radius: 50px;
  margin: 20px 48px 0 48px;
  height: 95px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.left-container,
.logo-container,
.nav-links,
.hamburger {
  display: flex;
  align-items: center;
}

.logo-container img {
  padding-left: 20px;
  height: 75px;
}

.school-names h1,
.school-names h2 {
  white-space: nowrap;
  line-height: 0.3;
  padding-left: 10px;
  font-weight: 700;
}

.school-names h1 {
  color: var(--main-color-green);
  font-size: 30px;
  font-weight: bold;
}

.school-names h2 {
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.nav-links {
  list-style-type: none;
  margin-right: 50px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.nav-links li {
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links li:hover,
.nav-links li.active {
  color: var(--main-color-green);
}

li.active:hover {
  color: white;
}

.nav-links a {
  text-decoration: none; 
  color: inherit; 
}

.hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  display: none;
  cursor: pointer;
  padding-right: 20px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  nav {
    margin: 20px;
    border-radius: 50px;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .school-names h1 {
    font-size: 16px;
  }

  .school-names h2 {
    font-size: 11px;
  }

  .logo-container img {
    height: 80px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 85%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.283); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px); 
    top: 100px;
    border-radius:50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
  }

  .nav-links.active {
    display: flex;
  }

  .header-content {
    width: 70%;
    line-height: 1.2;
    font-size: 1.2rem;
  }

  .header-content h1 {
    font-size: 2rem;
  }

  .header-content p {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .school-names h1 {
    font-size: 25px;
  }

  .school-names h2 {
    font-size: 15px;
  }

  .nav-links {
    display: none;
    width: 93%;
    flex-direction: column;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.283); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(10px); 
    top: 100px;
    z-index: 3;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
  }

  .nav-links.active {
    display: flex;
  }

  .header-content {
    width: 85%;
    line-height: 1.3;
    font-size: 1.5rem;
  }

  .header-content h1 {
    font-size: 2.5rem;
  }

  .header-content p {
    font-size: 1.25rem;
  }
}

/********************************* INSTITUTION SECTION ******************************/
.institution-section {
  padding: 100px 20px;
  background-color: var(--main-color-gray);
  color: white;
  backdrop-filter: blur(50px);
}

.institution-text {
  margin-left: 50px;
  margin-bottom: 20px;
  line-height: 3px;
}

.institution-subtitle {
  font-size: 3rem;
  color: var(--main-color-green);
}

.institution-title {
  font-size: 6rem;
  margin-bottom: 20px;
}

.institution-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin-top: 120px;
  margin-left: 50px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.submit-button {
  border-radius: 25px;
  padding: 10px 20px;
  background-color: var(--main-color-green);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.reset-button {
  margin-left: 10px;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: var(--main-color-green);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover,
.reset-button:hover {
  background-color: var(--main-color-green-dark);
}

.highlight {
  color: rgba(251, 175, 0, 1);  
}

/*responsive design for institution section*/
@media (max-width: 768px) {
  .institution-section {
    padding: 30px 10px;
  }

  .institution-text {
    margin-left: 0;
    text-align: center;
  }

  .institution-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .institution-subtitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .institution-form {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    align-items: center;
  }

  .email-input {
    width: 100%;
    margin-bottom: 20px;
  }

  .submit-button {
    margin-left: 0;
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .institution-section {
    padding: 50px 20px;
  }

  .institution-text {
    margin-left: 0;
    text-align: center;
  }

  .institution-title {
    font-size: 4rem;
    text-align: center;
  }

  .institution-subtitle {
    font-size: 2rem;
    text-align: center;
  }

  .institution-form {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    align-items: center;
  }

  .email-input {
    width: 100%;
    margin-bottom: 20px;
  }

  .submit-button {
    margin-left: 0;
    width: 100%;
  }
}

/********************* FOOTER *******************************/
.footer {
  background-color: #179b11;
  padding: 10px 0;
  color: white;
}

.footer-content {
  margin-left: 50px;
}

.footer_top {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.footer_logo {
  margin-right: 20px;
}

.footer_text {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 20px;
  font-weight: bold;
}

.footer-subtitle {
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
}

.footer_bottom {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 180px;
}

.location {
  margin-right: 100px;
}

.location-title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.location-details {
  font-size: 15px;
  margin-top: 5px;
}

.location-details p {
  line-height: 0.7;
}

.contact_us {
  margin-left: 20px;
}

.contact-title {
  font-size: 15px;
  font-weight: bold;
}

.contact-details {
  font-size: 15px;
  margin-top: 10px;
}

.contact-details p {
  line-height: 0.7;
}

.contact-details a {
  text-decoration: none;
  color: inherit;
}

.contact-details a:hover {
  color: var(--main-color-yellow);
}

.follow_us {
  margin-left: 150px;
}

.follow-title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.follow-icons a {
  margin-right: 10px;
  color: white;
  transition: color 0.3s;
}

.follow-icons a:hover {
  color: var(--main-color-yellow);
}

.footer2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.49);
  font: 15px Alegreya Sans, sans-serif;
  margin-top: 20px;
  margin: 0;
  padding: 0;
}

/* Responsive footer for smaller screens */
@media only screen and (max-width: 768px) {
  .footer_bottom {
    margin-left: 50px;
  }

  .location,
  .contact_us,
  .follow_us {
    margin: 10px 0;
    margin-left: 40px;
  }
}


/* Responsive footer for iPads */
@media (min-width: 769px) and (max-width: 1024px) {
  .footer_bottom {
    margin-left: 50px;
    align-items: flex-start;
  }

  .location,
  .contact_us,
  .follow_us {
    margin: 10px 0;
    margin-left: 40px;
  }

  .follow_us {
    margin-left: 40px;
  }

  .location-title,
  .contact-title,
  .follow-title {
    font-size: 14px;
  }

  .location-details,
  .contact-details {
    font-size: 14px;
  }

  .follow-icons a {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    padding: 20px;
  }
  
  .footer-content {
    margin: 20px;
  }

  .footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }

  .location,
  .contact_us,
  .follow_us {
    margin: 10px 0;
    margin-left: 0;
  }

  .footer-title,
  .footer-subtitle {
    font-size: 20px;
  }

  .location-title,
  .contact-title,
  .follow-title {
    font-size: 14px;
  }

  .location-details,
  .contact-details {
    font-size: 14px;
  }

  .follow-icons a {
    margin-right: 5px;
  }
}
